<div class="mobile-overlay" *ngIf="layoutService.isMobileSidebarOpen()" (click)="layoutService.closeSidebar()"></div>
<div class="leftsidebar" [class.mobile-open]="layoutService.isMobileSidebarOpen()">
    <div class="leftSideBar-links">
        <!-- Close button visible only on mobile -->
        <a href="javascript:void(0)" (click)="layoutService.closeSidebar()" class="nav-link mobile-close-btn">
            <span class="material-symbols-outlined">close</span> Close Menu
        </a>

        <a routerLink="/" class="nav-link" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">family_home</span> Home</a>
        <a routerLink="/my-profile" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">diagnosis</span> My Profile</a>
        <a routerLink="/profile-visitors" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">mystery</span> Profile visitors ({{ visitorCount }})</a>
        <a routerLink="/shortlist" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">bookmark</span> Shortlisted Profiles</a>
        <a routerLink="/interests" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">favorite</span> My Interests</a>
        <a routerLink="/chat" (click)="layoutService.closeSidebar()"><span class="material-symbols-outlined">chat</span>
            Chat</a>
        <a routerLink="/notifications" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">notifications</span> Notifications</a>
        <a routerLink="/membership" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">workspace_premium</span> Membership</a>
        <a routerLink="/settings" (click)="layoutService.closeSidebar()"><span
                class="material-symbols-outlined">settings_heart</span> Settings</a>
        <a href="javascript:void(0)" (click)="logout()" class="nav-link logout-link"><span
                class="material-symbols-outlined">move_item</span> Logout</a>
    </div>
</div>