<div class="leftsidebar">
    <div class="leftSideBar-links">
        <a routerLink="/" class="nav-link"><span class="material-symbols-outlined">family_home</span> Home</a>
        <a routerLink="/my-profile"><span class="material-symbols-outlined">diagnosis</span> My Profile</a>
        <a routerLink="/profile-visitors"><span class="material-symbols-outlined">mystery</span> Profile visitors ({{
            visitorCount }})</a>
        <a routerLink="/shortlist"><span class="material-symbols-outlined">bookmark</span> Shortlisted Profiles</a>
        <a routerLink="/interests"><span class="material-symbols-outlined">favorite</span> My Interests</a>
        <a routerLink="/chat"><span class="material-symbols-outlined">chat</span> Chat</a>
        <a routerLink="/notifications"><span class="material-symbols-outlined">notifications</span> Notifications</a>
        <a routerLink="/membership"><span class="material-symbols-outlined">workspace_premium</span> Membership</a>
        <a routerLink="/settings"><span class="material-symbols-outlined">settings_heart</span> Settings</a>
        <a href="javascript:void(0)" (click)="logout()" class="nav-link logout-link"><span
                class="material-symbols-outlined">move_item</span> Logout</a>
    </div>
</div>